@import url(https://fonts.googleapis.com/css?family=Poppins:300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87a1f7;
    background: linear-gradient(0deg, rgba(0,32,106,1) 0%, rgba(1,128,247,1) 54%, rgba(41,180,255,1) 94%);}
.container{
    background: rgb(0, 0, 0, 0.5);
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin:0 2rem;
}
.form-title{
    font-size:35px;
    font-weight:bold;
    color: white;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #f1b9b9;
    padding-left:1.5rem;
    font-size:20px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:white;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(123, 85%, 74%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(123, 85%, 74%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btn {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    color: black;
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%); 
    font-size: 20px;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px
  }
  .btn:hover {
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%); 
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 0 2px #5eff81,
                0 0 10px #5eff81,
                0 0 20px #5eff81,
                0 0 30px #5eff81;
  }
  
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:underline;
    color:blue;
}