@import url(https://fonts.googleapis.com/css?family=Poppins:300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background: rgb(74, 98, 138);
    padding: 2%;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    color: #ffffff;
}

form {
    max-width: 60%;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.5);
    padding: 3%;
    border-radius: 40px;
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.6);
}
.form .message {
    margin: 2% 0 0;
    color: #b3b3b3;
    font-size: 1rem;
}
.form .message a {
    color: #289bb8;
    text-decoration: none;
}
.form .register-form {
    display: none;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1%;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 1%;
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 3%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

/* Stylizacja kontenera listy */
.size-container {
    position: relative;
    width: 20%;
    border-color: white;
    margin: 2% 1% 2% 0;
}

/* Stylizacja samej listy select */
.sizebox {
    font-size: 0.9rem;
    padding: 5%;
    border-color: white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Stylizacja opcji w rozwijanej liście */
.sizebox option {
    border-color: white;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 1%;
    font-size: 0.9rem;
}

/* Zmiana tła i tekstu dla rozwiniętej listy */
.sizebox:focus, .sizebox:hover {
    border-color: white;
    background-color: transparent;
    border-color: #888;
}

.sizebox option:hover {
    border-color: white;
    background-color: rgb(13, 81, 126);
    color: white;
}

.sizebox option:disabled {
    color: black;
}

.poleno {
    margin: 2%;
    font-size: 0.8rem;
    font-weight: lighter;
}

.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    width: 70%;
    padding: 2% 10%;
    border-radius: 40px;
    border: none;
    background: rgb(185, 229, 232);
    color: #000000;
    font-size: 1.8rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 3%;
    margin-bottom: 2%;
    letter-spacing: 0.2em;
}

.btn:hover {
    background: rgb(185, 229, 232);
    font-weight: bold;
    color: #000000;
    border-radius: 40px;
    box-shadow: 0 0 2px #b2e1f0,
        0 0 10px #b2e1f0,
        0 0 20px #b2e1f0,
        0 0 30px #b2e1f0;
}
.logo {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 10%; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 10; /* Ensure it appears above other elements */
}

.user-info {
    position: absolute;
    top: 3%;
    right: 2%;
    background-color: transparent;
    border:none;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info #logout-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    width: 70%;
    padding: 2%;
    border: none;
    background: rgb(185, 229, 232);
    color: #000000;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 7%;
    margin-bottom: 5%;
}

.user-info #logout-button:hover {
    background-color: #c75c59;
}

/* Responsywność */
@media (max-width: 768px) {
    body {
        padding: 5%;
    }

    form {
        padding: 5%;
        max-width: 100%; /* Formularz zajmuje pełną szerokość ekranu */
    }

    .btn {
        font-size: 1.2rem;
    }

    input, textarea {
        max-width: 100%; /* Ustalamy, żeby pola wejściowe zajmowały całą szerokość na mniejszych ekranach */
    }

    .size-container {
        width: 100%; /* Zmieniamy szerokość kontenera select na 100% */
    }

    .sizebox {
        width: 100%;
    }
}

