@import url(https://fonts.googleapis.com/css?family=Poppins:300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('images/logotlo.png');}
    

.container{
    background: rgb(0, 0, 0, 0.8);
    width:30%;
    padding:2%;
    margin:2% auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin:0 5%;
}
.form-title{
    font-size: 2.3rem;
    font-weight:bold;
    color: white;
    text-align:center;
    padding:2%;
    margin-bottom:2%;
}
input{
    color:white;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom: 0.1rem solid #f1b9b9;
    padding-left:1.5rem;
    font-size:1.4rem;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:white;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:0.2rem solid hsl(123, 85%, 74%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(123, 85%, 74%);
    font-size:0.9rem;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btn {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    padding: 4%;
    border-radius: 30px;
    border: none;
    color: black;
    background: rgb(185, 229, 232);
    font-size: 1.6rem;
    overflow: hidden;
    transition: .5s;
    margin-top: 2%;
    margin-bottom: 2%;
    letter-spacing: 0.05rem;
  }
  .btn:hover {
    background: rgb(185, 229, 232);
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 0 2px #b2e1f0,
        0 0 10px #b2e1f0,
        0 0 20px #b2e1f0,
        0 0 30px #b2e1f0;
  }
  
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:0.1rem solid #dfe9f5;
    margin:0 3rem;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:underline;
    color:blue;
}