@import url(https://fonts.googleapis.com/css?family=Poppins:300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background: rgb(0,32,106);
    background: linear-gradient(0deg, rgba(0,32,106,1) 0%, rgba(1,128,247,1) 54%, rgba(41,180,255,1) 94%);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.6);
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
  .form .message a {
    color: #289bb8;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


/* Stylizacja kontenera listy */
.size-container {
    position: relative;
    width: 30%;
    border-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;

}

/* Stylizacja samej listy select */
.sizebox {
    font-size: 14px; /* Rozmiar czcionki */
    padding: 15px;
    border-color: white; /* Ramka wokół listy */
    border-radius: 20px; /* Zaokrąglone rogi */
    background-color: transparent; /* Przezroczyste tło */
    color: white; /* Biały tekst */
    width: 100%; /* Szerokość na 100% kontenera */
    box-sizing: border-box; /* Uwzględnienie paddingu w szerokości */
    transition: border-color 0.3s ease; /* Animacja zmiany koloru ramki */
}



/* Stylizacja opcji w rozwijanej liście */
.sizebox option {
    border-color: white;
    background-color: rgba(255, 255, 255, 0); /* Tło opcji przezroczyste */
    color: black; /* Biały tekst w opcjach */
    padding: 10px; /* Przestrzeń wewnętrzna w opcjach */
    font-size: 14px; /* Czcionka dla opcji */
}

/* Zmiana tła i tekstu dla rozwiniętej listy */
.sizebox:focus, .sizebox:hover {
    border-color: white;
    background-color: transparent;
    border-color: #888; /* Zmiana koloru ramki przy najechaniu lub kliknięciu */
}

/* Stylizacja dla rozwiniętej listy, zmiana koloru tła */
.sizebox option:hover {
    border-color: white;
    background-color: rgb(13, 81, 126);
    color: white; /* Biały tekst dla opcji przy hover */
}

.sizebox option:disabled {
    color: black; /* Jasnoszary tekst dla domyślnej opcji */
}

.poleno {
    margin: 15px;
    font-size: 13px;
    font-weight: lighter;
}


.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 15px 25px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 40px;
    border: none;
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%); 
    color: #000000;
    font-size: 27px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px
  }
  .btn:hover {
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%); 
    font-weight: bold;
    color: #000000;
    border-radius: 40px;
    box-shadow: 0 0 2px #5eff81,
    0 0 10px #5eff81,
    0 0 20px #5eff81,
    0 0 30px #5eff81;
  }
  


/* Responsywność */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}

